@model IEnumerable<WebUI.Models.Receipts>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Receipt List";
}

<h2>@ViewData["Title"]</h2>

<p>
    @if (Context.Session.GetString("Login") == "OK")
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.receiptID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                <a asp-action="Details" asp-route-id="@item.receiptID">
                    @Html.DisplayFor(modelItem => item.receiptID)
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.receiptID">
                    @Html.DisplayFor(modelItem => item.paymentDate)
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.receiptID">
                    @Html.DisplayFor(modelItem => item.paymentMethod)
                </a>
            </td>
            <td>
            @if (Context.Session.GetString("Login") == "OK")
            {
                <a asp-action="Edit" asp-route-id="@item.receiptID">Edit</a> <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.receiptID">Delete</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
