@model IEnumerable<WebUI.Models.Branchs>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Branch List";
}

<h2>@ViewData["Title"]</h2>

<p>
@if (Context.Session.GetString("Login") == "OK")
{
        <a asp-action="Create">Create New</a>
}
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.branchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            <a asp-action="Details" asp-route-id="@item.branchID">
                @Html.DisplayFor(modelItem => item.branchName)
            </a>
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.branchID">
                @Html.DisplayFor(modelItem => item.custCity)
            </a>
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.branchID">
                @Html.DisplayFor(modelItem => item.custState)
            </a>
        </td>
        <td>

        @if (Context.Session.GetString("Login") == "OK")
        {
            <a asp-action="Edit" asp-route-id="@item.branchID">Edit</a> <span>|</span>
            <a asp-action="Delete" asp-route-id="@item.branchID">Delete</a>
        }
        </td>
    </tr>
}
    </tbody>
</table>
